In [1]:
import pandas as pd

In [6]:
ratings_small_filtered = pd.read_csv(r'C:\Users\jasmi\Desktop\Research\Projects\CIKM Confernce paper\CSV files\ratings_small_filtered.csv')
All_parts_objects = pd.read_csv(r'C:\Users\jasmi\Desktop\Research\Projects\CIKM Confernce paper\CSV files\Object mappings\All_parts_objects.csv', index_col=0)

In [7]:
All_parts_objects

,youtubeId,movieId,title,trailer_present,video downloaded,Durations,FPS,Width,Height,Aspect Ratio,...,70,71,72,73,74,75,76,77,78,79
0,K26_sDKnvMU,1,Toy Story (1995),1,0,90,29,636,480,1.32,...,0,0,1,33,0,1,0,5,0,1
1,3LPANjHlPxo,2,Jumanji (1995),1,0,167,23,1280,720,1.78,...,0,0,0,9,16,14,4,0,0,3
2,rEnOoWs3FuA,3,Grumpier Old Men (1995),1,0,111,29,640,360,1.78,...,0,0,0,0,0,2,0,0,0,0
3,j9xml1CxgXI,4,Waiting to Exhale (1995),1,0,159,23,640,480,1.33,...,0,0,0,0,2,0,0,0,0,0
4,2GfZl4kuVNI,6,Heat (1995),1,0,147,24,1920,1080,1.78,...,0,0,2,0,0,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,_Buvv8StMGw,130682,Muck (2015),1,0,86,23,1280,720,1.78,...,0,4,0,0,0,1,2,0,0,0
6343,qCD9BG7ioOc,130970,George Carlin: Life Is Worth Losing (2005),1,0,267,29,1920,1080,1.78,...,0,0,0,0,0,0,0,0,0,402
6344,zElDJ1f3Jk0,130980,The Day That Lasted 21 Years (2012),1,0,116,29,1920,1080,1.78,...,0,0,0,1,5,27,0,0,0,0
6345,lEqrpuU9fYI,131013,Get Hard (2015),1,0,144,23,1280,720,1.78,...,0,0,28,5,0,19,0,0,0,0
6346,zildFIFKjlc,131168,Phoenix (2014),1,0,124,23,1920,816,2.35,...,0,0,2,14,6,0,0,0,0,0

In [8]:
unique_movie_ids = list(All_parts_objects['movieId'].unique())

In [11]:
len(unique_movie_ids)

6347

In [12]:
ratings_small_filtered

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1061     3.0  1260759182
2           1     1129     2.0  1260759185
3           1     1172     4.0  1260759205
4           1     1263     2.0  1260759151
...       ...      ...     ...         ...
82357     671     6212     2.5  1065149436
82358     671     6268     2.5  1065579370
82359     671     6365     4.0  1070940363
82360     671     6385     2.5  1070979663
82361     671     6565     3.5  1074784724

[82362 rows x 4 columns]

In [13]:
ratings_small_filtered_2 = ratings_small_filtered[ratings_small_filtered["movieId"].isin(unique_movie_ids)]

In [14]:
ratings_small_filtered_2

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1061     3.0  1260759182
2           1     1129     2.0  1260759185
3           1     1172     4.0  1260759205
4           1     1263     2.0  1260759151
...       ...      ...     ...         ...
82357     671     6212     2.5  1065149436
82358     671     6268     2.5  1065579370
82359     671     6365     4.0  1070940363
82360     671     6385     2.5  1070979663
82361     671     6565     3.5  1074784724

[81730 rows x 4 columns]

In [16]:
ratings_small_filtered_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81730 entries, 0 to 82361
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     81730 non-null  int64
 1   movieId    81730 non-null  int64
 2   rating     81730 non-null  float64
 3   timestamp  81730 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [15]:
ratings_small_filtered_2 = ratings_small_filtered_2.reset_index(drop=True)

In [18]:
ratings_small_filtered_2

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1061     3.0  1260759182
2           1     1129     2.0  1260759185
3           1     1172     4.0  1260759205
4           1     1263     2.0  1260759151
...       ...      ...     ...         ...
81725     671     6212     2.5  1065149436
81726     671     6268     2.5  1065579370
81727     671     6365     4.0  1070940363
81728     671     6385     2.5  1070979663
81729     671     6565     3.5  1074784724

[81730 rows x 4 columns]

In [19]:
ratings_small_filtered_2.to_csv('ratings_small_filtered_2.csv')