In [48]:
import pandas as pd

In [49]:
All_parts_objects = pd.read_csv(r'All_parts_objects.csv', index_col=2)

In [50]:
columns_to_keep = [str(i) for i in range(80)]
movies_features = All_parts_objects[columns_to_keep]
movies_features

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
movieId,,,,,,,,,,,,,,,,,,,,,
1,194,0,1,1,3,0,0,1,0,0,...,0,0,1,33,0,1,0,5,0,1
2,629,0,43,0,3,0,0,5,0,2,...,0,0,0,9,16,14,4,0,0,3
3,709,0,11,0,0,0,0,2,26,0,...,0,0,0,0,0,2,0,0,0,0
4,1141,0,22,0,0,0,0,8,0,1,...,0,0,0,0,2,0,0,0,0,0
6,1049,0,115,0,12,5,1,11,0,9,...,0,0,2,0,0,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130682,282,0,0,0,0,0,0,0,0,0,...,0,4,0,0,0,1,2,0,0,0
130970,1731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,402
130980,170,0,2,5,210,0,0,1,101,0,...,0,0,0,1,5,27,0,0,0,0
131013,1484,0,149,2,1,1,0,18,5,0,...,0,0,28,5,0,19,0,0,0,0
131168,713,0,12,1,0,0,0,9,0,0,...,0,0,2,14,6,0,0,0,0,0

In [75]:
movies_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6347 entries, 1 to 131168
Data columns (total 80 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6347 non-null   int64
 1   1       6347 non-null   int64
 2   2       6347 non-null   int64
 3   3       6347 non-null   int64
 4   4       6347 non-null   int64
 5   5       6347 non-null   int64
 6   6       6347 non-null   int64
 7   7       6347 non-null   int64
 8   8       6347 non-null   int64
 9   9       6347 non-null   int64
 10  10      6347 non-null   int64
 11  11      6347 non-null   int64
 12  12      6347 non-null   int64
 13  13      6347 non-null   int64
 14  14      6347 non-null   int64
 15  15      6347 non-null   int64
 16  16      6347 non-null   int64
 17  17      6347 non-null   int64
 18  18      6347 non-null   int64
 19  19      6347 non-null   int64
 20  20      6347 non-null   int64
 21  21      6347 non-null   int64
 22  22      6347 non-null   int64
 23  23      6347 non-null   int64
 24  24      6347 non-null   int64
 25  25      6347 non-null   int64
 26  26      6347 non-null   int64
 27  27      6347 non-null   int64
 28  28      6347 non-null   int64
 29  29      6347 non-null   int64
 30  30      6347 non-null   int64
 31  31      6347 non-null   int64
 32  32      6347 non-null   int64
 33  33      6347 non-null   int64
 34  34      6347 non-null   int64
 35  35      6347 non-null   int64
 36  36      6347 non-null   int64
 37  37      6347 non-null   int64
 38  38      6347 non-null   int64
 39  39      6347 non-null   int64
 40  40      6347 non-null   int64
 41  41      6347 non-null   int64
 42  42      6347 non-null   int64
 43  43      6347 non-null   int64
 44  44      6347 non-null   int64
 45  45      6347 non-null   int64
 46  46      6347 non-null   int64
 47  47      6347 non-null   int64
 48  48      6347 non-null   int64
 49  49      6347 non-null   int64
 50  50      6347 non-null   int64
 51  51      6347 non-null   int64
 52  52      6347 non-null   int64
 53  53      6347 non-null   int64
 54  54      6347 non-null   int64
 55  55      6347 non-null   int64
 56  56      6347 non-null   int64
 57  57      6347 non-null   int64
 58  58      6347 non-null   int64
 59  59      6347 non-null   int64
 60  60      6347 non-null   int64
 61  61      6347 non-null   int64
 62  62      6347 non-null   int64
 63  63      6347 non-null   int64
 64  64      6347 non-null   int64
 65  65      6347 non-null   int64
 66  66      6347 non-null   int64
 67  67      6347 non-null   int64
 68  68      6347 non-null   int64
 69  69      6347 non-null   int64
 70  70      6347 non-null   int64
 71  71      6347 non-null   int64
 72  72      6347 non-null   int64
 73  73      6347 non-null   int64
 74  74      6347 non-null   int64
 75  75      6347 non-null   int64
 76  76      6347 non-null   int64
 77  77      6347 non-null   int64
 78  78      6347 non-null   int64
 79  79      6347 non-null   int64
dtypes: int64(80)
memory usage: 3.9 MB

In [51]:
ratings = pd.read_csv(r'ratings_small_filtered_2.csv', index_col=0)

In [52]:
ratings

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
1           1     1061     3.0  1260759182
2           1     1129     2.0  1260759185
3           1     1172     4.0  1260759205
4           1     1263     2.0  1260759151
...       ...      ...     ...         ...
81725     671     6212     2.5  1065149436
81726     671     6268     2.5  1065579370
81727     671     6365     4.0  1070940363
81728     671     6385     2.5  1070979663
81729     671     6565     3.5  1074784724

[81730 rows x 4 columns]

In [53]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81730 entries, 0 to 81729
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     81730 non-null  int64
 1   movieId    81730 non-null  int64
 2   rating     81730 non-null  float64
 3   timestamp  81730 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [54]:
ratings['rating'] = ratings['rating'].apply(lambda x: 1 if x > 3.5 else 0)

In [55]:
ratings

       userId  movieId  rating   timestamp
0           1       31       0  1260759144
1           1     1061       0  1260759182
2           1     1129       0  1260759185
3           1     1172       1  1260759205
4           1     1263       0  1260759151
...       ...      ...     ...         ...
81725     671     6212       0  1065149436
81726     671     6268       0  1065579370
81727     671     6365       1  1070940363
81728     671     6385       0  1070979663
81729     671     6565       0  1074784724

[81730 rows x 4 columns]

In [56]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81730 entries, 0 to 81729
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     81730 non-null  int64
 1   movieId    81730 non-null  int64
 2   rating     81730 non-null  int64
 3   timestamp  81730 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [57]:
import pandas as pd
from sklearn.preprocessing import normalize

In [58]:
# Assuming 'ratings' is your DataFrame
user_movie_matrix = ratings.pivot_table(index='userId', columns='movieId', values='rating')
user_movie_matrix

movieId,1,2,3,4,6,7,8,10,11,12,...,130087,130351,130580,130628,130642,130682,130970,130980,131013,131168
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
user_movie_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 671 entries, 1 to 671
Columns: 6347 entries, 1 to 131168
dtypes: float64(6347)
memory usage: 32.5 MB

In [79]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import confusion_matrix, precision_score, recall_score

# Fill NaN values with 0.5 in user_movie_matrix
user_movie_matrix = user_movie_matrix.fillna(0.5)

# Calculate the cosine similarity between movies based on their features
movie_similarity = cosine_similarity(movies_features)

# Convert the similarity matrix to a DataFrame
movie_similarity_df = pd.DataFrame(movie_similarity, index=movies_features.index, columns=movies_features.index)

# Function to predict ratings using KNN and item-item collaboration
def predict_ratings(user_ratings, k=10):
    user_id = user_ratings.name
    
    # Get the movies rated by the user
    rated_movies = user_ratings[user_ratings != 0.5].index
    
    # Calculate the weighted average of similar movies' ratings
    predicted_ratings = []
    for movie_id in user_movie_matrix.columns:
        if user_ratings[movie_id] == 0.5:
            similar_movies = movie_similarity_df[movie_id].sort_values(ascending=False)[1:k+1]
            similar_ratings = user_ratings[similar_movies.index]
            weights = similar_movies.values
            predicted_rating = np.dot(similar_ratings, weights) / weights.sum()
            predicted_ratings.append(predicted_rating)
        else:
            predicted_ratings.append(user_ratings[movie_id])
    
    return pd.Series(predicted_ratings, index=user_movie_matrix.columns, name=user_id)

# Predict ratings for all users
predicted_matrix = user_movie_matrix.apply(predict_ratings, axis=1)

# Convert the predicted ratings to binary (0 or 1) based on a threshold
threshold = 0.7  # Adjust the threshold based on your requirements
predicted_binary = (predicted_matrix >= threshold).astype(int)

# Evaluate the predictions using confusion matrix, precision, and recall
true_ratings = user_movie_matrix.values.flatten()
predicted_ratings = predicted_binary.values.flatten()

cm = confusion_matrix(true_ratings, predicted_ratings)
precision = precision_score(true_ratings, predicted_ratings)
recall = recall_score(true_ratings, predicted_ratings)

print("Confusion Matrix:")
print(cm)
print("Precision:", precision)
print("Recall:", recall)

ValueError: Classification metrics can't handle a mix of continuous and binary targets